[submodule "components/stinglet"]
	path = components/stinglet
	url = https://github.com/matte21/stinglet-k8s
	branch = stinglet
[submodule "components/crun"]
	path = components/crun
	url = https://github.com/matte21/stinglet-crun
	branch = fg-cgroups
[submodule "components/cri-o"]
	path = components/cri-o
	url = https://github.com/matte21/stinglet-cri-o
	branch = fg-cgroups
